* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 50px;
}

.title {
  font-family: "Helvetica";
  color: #302e2c;
  text-align: center;
  font-size: 40;
  font-weight: 800;
}

.subtitle {
  font-family: "Helvetica";
  color: #3b3a3a;
  text-align: center;
  font-size: 24;
  font-weight: 400;
}

.container h1 {
  font-family: "Arial";
  font-size: 40px;
}

.list-item {
  font-family: "Arial";
}

.primaryButton {
  width: auto;
  background-color: #1d1e18;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.secondaryButton {
  width: auto;
  background-color: white;
  color: #1d1e18;
  border: #1d1e18 solid 1px;
  border-radius: 3px;
  padding: 10px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.primaryButton:hover {
  background-color: white;
  border: #1d1e18 solid 1px;
  border-radius: 4px;
  color: #1d1e18;
}

.secondaryButton:hover {
  background-color: #1d1e18;
  color: white;
  border: none;
  border-radius: 3px;
}

.draft {
  width: 100%;
  max-width: 500;
  height: 800px;
  background-image: url("../public/images/soccer-pitch.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.column {
  float: left;
  width: 50%;
}